* {
  box-sizing: border-box;
  /* outline: 4px solid green !important; */
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #bd69ff;
  color: white;
}

/* .modal {
    width: 100vw;
    height: 100vh;
    background: rgb(136 78 159 / 70%);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1;
}

.modal.active {
  display: block;
}

.registration-button,
.registration-form button {
  width: 135px;
  height: 35px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #bd69ff;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.registration-form button{
  width: 210px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffa5f;
  max-width: 530px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  color: black;
  border-radius: 10px;
  font-weight: 500;
}

.registration-form input{
  padding: 5px;
  font-size: 16px;

}


.cross {
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    font-size: 18px;
} */



h1 {
  font-size: 48px;
  margin: 20px 0px;
}

h5 {
  margin: 0px 10px 10px;
}

.selected-program {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 40px;
  background-color: #d3ff5f;
  color: #bd69ff;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  max-width: 450px;
}

.training-name {
  padding: 5px 30px 5px 5px;
  font-size: 23px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  color: white;
}

input[type="text"] {
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #bd69ff;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

label {
  font-size: 24px;
  line-height: 40px;
}

input[type="number"] {
  padding: 5px 0px 5px 5px;
  width: 57px;
  font-size: 20px;
  margin-left: 8px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #bd69ff;
  color: white;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

button {
  font-size: 23px;
  cursor: pointer;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: background-color 0.1s linear;
  background-color: #bd69ff;
  color: white;
}

button:hover {
  background-color: rgb(211, 182, 238);
}

button:active {
  background-color: #fffa5f;
}

.timer,
.rest-timer {
  margin-top: 10px;
  font-size: 40px;
}

.timer {
  color: #fffa5f;
}

.rest-timer {
  color: chartreuse;
}

.cycles {
  margin-top: 10px;
  font-size: 30px;
}

audio:not([controls]) {
  opacity: 0;
  pointer-events: none;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule h3 {
  margin: 20px 0px 5px 0px;
  font-weight: 700;
  font-size: 25px;
}

.schedule input[type="text"] {
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #bd69ff;
  color: white;
  padding: 3px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid white;
}

.selected-period {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #bd69ff;
  color: white;
  border: 1px dashed white;
}

ul {
  margin: 10px 0px;
  list-style-type: none;
  outline: none;
}

ul li {
  transform: translate(-18px, 0px);
  font-size: 20px;
  outline: none;
}

.save-program {
  width: 210px;
  height: 45px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #d3ff5f;
  color: #bd69ff;
}

.message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6e5582;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  opacity: 0;
  animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  100% {
    bottom: 40px;
    opacity: 1;
  }
}

/* @media (max-width: 600px) {
  .registration-form {
    margin: 50px 30px;
  }
} */

@media (max-width: 400px) {
  h1{
    font-size: 40px;
  }

  .training-name{
    font-size: 20px;
  }
  
  label{
    font-size: 21px;
  }

  .selected-program{
    margin: 0px 10px 40px;
    max-width: 300px;
  }
}