body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.content{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center
}

label{
  font-size: 20px;
  line-height: 31px;
}

input[type="number"]{
  padding: 5px;
    width: 40px;
    font-size: 16px;
}

.buttons{
  display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}
button{
  padding: 10px;
  font-size: 18px;
}

.timer,
.rest-timer{
  margin-top: 10px;
  font-size: 40px;
}

.timer{
  color:chocolate;
}

.rest-timer{
  color: chartreuse;
}

button[type = 'button']{
cursor: pointer;
}

.cycles{
  margin-top: 10px;
  font-size: 30px;
}